<!DOCTYPE html>
<html class="x-admin-sm">
  
  <head>
    <meta charset="UTF-8">
    <title>rzgl_add</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
    <script type="text/javascript" src="../js/cookie.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

      <script type="text/javascript" src="../js/angularjs/angular.min.js"></script>
      <script type="text/javascript" src="../js/base.js"></script>
      <script type="text/javascript" src="../js/service/goodsService.js"></script>
      <script type="text/javascript" src="../js/controller/baseController.js"></script>
      <script type="text/javascript" src="../js/controller/goodsController.js"></script>

  </head>

  <body ng-app="zcgj" ng-controller="goodsController">
  <div class="x-body">
      <form class="layui-form" ng-submit="add()">
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>记录时间
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="jlsj" name="jlsj" required="" lay-verify="required" ng-model="entity.recordingTime"
                         autocomplete="on" class="layui-input"  >
              </div>
          </div>
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>类型
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="lx" name="lx" required="" lay-verify="required" ng-model="entity.type"
                         autocomplete="on" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>名称
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="mc" name="mc" required="" lay-verify="required" ng-model="entity.name"
                         autocomplete="on" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>单位
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="dw" name="dw" required="" lay-verify="required" ng-model="entity.unit"
                         autocomplete="on" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>供应商
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="gys" name="gys" required="" lay-verify="required" ng-model="entity.supplier"
                         autocomplete="on" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>购买数量
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="gmsl" name="gmsl" required="" lay-verify="required" ng-model="entity.number"
                         autocomplete="on" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>单价
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="dj" name="dj" required="" lay-verify="required" ng-model="entity.unitPrice"
                         autocomplete="on" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>实际支出
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="sjzc" name="sjzc" required="" lay-verify="required" ng-model="entity.actualExpenditure"
                         autocomplete="on" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>备注
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="bz" name="bz" required="" lay-verify="required" ng-model="entity.remarks"
                         autocomplete="on" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="add" lay-submit="" >
                  添加
              </button>
          </div>
      </form>
  </div>

  <script>
      // layui.use('laydate', function(){
      //     var laydate = layui.laydate;
      //     //执行一个laydate实例
      //     laydate.render({
      //         elem: '#start' //指定元素
      //     });
      //     laydate.render({
      //         elem: '#end' //指定元素
      //     });
      // });

      //监听提交
     /* form.on('submit(add)', function(data){
          console.log(data);
          //发异步，把数据提交给php
          layer.alert("增加成功", {icon: 6},function () {
              // 获得frame索引
              var index = parent.layer.getFrameIndex(window.name);
              //关闭当前frame
              parent.layer.close(index);
          });
          return false;
      });*/
  </script>

  </body>

</html>