<!doctype html>
<html  class="x-admin-sm">
<head>
	<meta charset="UTF-8">
	<title>管理-X-admin2.1</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="./css/font.css">
	<link rel="stylesheet" href="./css/xadmin.css">
    <script type="text/javascript" src="./js/jquery/jquery.min.js"></script>
    <script src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
    <script type="text/javascript" src="./js/cookie.js"></script>

    <script type="text/javascript" src="./js/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="./js/base.js"></script>
    <script type="text/javascript" src="./js/service/registerService.js"></script>
    <script type="text/javascript" src="./js/controller/registerController.js"></script>


</head>
<body class="login-bg" ng-app="zcgj" ng-controller="registerController">
    <div class="login layui-anim layui-anim-up">
        <div class="message">用户注册</div>
        <div id="darkbannerwrap"></div>

        <form method="post" class="layui-form"  ng-submit="reg()">
            <input type="text" id="user" name="account" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input" ng-model="entity.username"  ng-blur="selectUser(entity.username)">
            <hr class="hr15">
            <input type="password"  id="pwd" name="password" required  lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input" ng-model="entity.password">
            <hr class="hr15">
            <input type="password" id="rpwd" name="repassword" required  lay-verify="required" placeholder="请确认密码" autocomplete="off" class="layui-input" ng-model="password">
            <hr class="hr15">
            <input name="phone" lay-verify="required" placeholder="输入手机号"  type="text" class="layui-input" ng-model="entity.phone"> <button  lay-submit lay-filter="sub" class="layui-btn" ng-click="sendCode()">获取验证码</button>
            <hr class="hr15">
            <input name="yzm"  placeholder="输入验证码"  type="text" class="layui-input" ng-model="smsCode">
            <hr class="hr15">

            <input value="注册" lay-submit lay-filter="login" style="width:100%;" type="submit">
            <hr class="hr20" >
            <p style="width: 85%"><a href="login.html" class="fl">已有账号？立即登录</a></p>
        </form>
    </div>
    <script type="text/javascript">
        layui.use(['form','jquery','layer'], function () {
            var form   = layui.form;
            var $      = layui.jquery;
            var layer  = layui.layer;

            // 为密码添加正则验证
            $('#pwd').blur(function() {
                var reg = /^[\w]{6,12}$/;
                if(!($('#pwd').val().match(reg))){
                    //layer.msg('请输入合法密码');
                    $('#pwr').removeAttr('hidden');
                    $('#pri').attr('hidden','hidden');
                    layer.msg('请输入合法密码');
                }else {
                    $('#pri').removeAttr('hidden');
                    $('#pwr').attr('hidden','hidden');
                }
            });

            //验证两次密码是否一致
            $('#rpwd').blur(function() {
                if($('#pwd').val() != $('#rpwd').val()){
                    $('#rpwr').removeAttr('hidden');
                    $('#rpri').attr('hidden','hidden');
                    layer.msg('两次输入密码不一致!');
                }else {
                    $('#rpri').removeAttr('hidden');
                    $('#rpwr').attr('hidden','hidden');
                };
            });
        });
    </script>
    <!-- 底部结束 -->
</body>
</html>