<!DOCTYPE html>
<html class="x-admin-sm">
  
  <head>
    <meta charset="UTF-8">
    <title>rzgl_edit</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
      <script type="text/javascript" src="../js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
    <script type="text/javascript" src="../js/cookie.js"></script>
      <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
      <!--[if lt IE 9]>
      <script src="../js/html5.min.js"></script>
      <script src="../js/respond.min.js"></script>
      <![endif]-->


      <script type="text/javascript" src="../js/angularjs/angular.min.js"></script>
      <script type="text/javascript" src="../js/base.js"></script>
      <script type="text/javascript" src="../js/service/bioSafetyService.js"></script>
      <script type="text/javascript" src="../js/controller/baseController.js"></script>
      <script type="text/javascript" src="../js/controller/bioSafetyController.js"></script>

  </head>

  <body ng-app="zcgj" ng-controller="bioSafetyController" ng-init="selectById()">
  <div class="x-body">
      <form class="layui-form" ng-submit="updateById()">
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>耳号
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="eh" name="eh" disabled="disabled" required="" lay-verify="required" ng-model="entity.earNumber"
                         autocomplete="on" class="layui-input"   ng-blur="selectByEarNum(entity.earNumber)">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>体检情况
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="tjqk" name="tjqk" required="" lay-verify="required" ng-model="entity.physicalExamination"
                         autocomplete="on" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>免疫情况
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="myqk" name="myqk" required="" lay-verify="required" ng-model="entity.immuneStatus"
                         autocomplete="on" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>疫苗接种类型
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="ymjzlx" name="ymjzlx" required="" lay-verify="required" ng-model="entity.vaccinationType"
                         autocomplete="on" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>消毒情况
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="xuqk" name="xuqk" required="" lay-verify="required" ng-model="entity.disinfectionSituation"
                         autocomplete="on" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>疾病
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="jb" name="jb" required="" lay-verify="required" ng-model="entity.diseaseCondition"
                         autocomplete="on" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="update" lay-submit="" >
                  修改
              </button>
          </div>
      </form>
  </div>

  <script>
      // layui.use('laydate', function(){
      //     var laydate = layui.laydate;
      //     //执行一个laydate实例
      //     laydate.render({
      //         elem: '#start' //指定元素
      //     });
      //     laydate.render({
      //         elem: '#end' //指定元素
      //     });
      // });

      //监听提交
     /* form.on('submit(add)', function(data){
          console.log(data);
          //发异步，把数据提交给php
          layer.alert("增加成功", {icon: 6},function () {
              // 获得frame索引
              var index = parent.layer.getFrameIndex(window.name);
              //关闭当前frame
              parent.layer.close(index);
          });
          return false;
      });*/
  </script>

  </body>

</html>