<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.mrmj.zcgj.mapper.ProductionMapper">
    <sql id="Base_Column_List" >
           id,ear_number,age,current_house_number,
           parity,litter_size,mating_times,abortion_number,
           survival_number
    </sql>

    <select id="query" resultType="ProductionPo">
        select
         <include refid="Base_Column_List" />
         from production
    </select>

    <insert id="insert" parameterType="ProductionPo" >
        INSERT INTO production(ear_number,age,current_house_number,
           parity,litter_size,mating_times,abortion_number,
           survival_number)
        VALUES(#{earNumber},#{age},#{currentHouseNumber},#{parity},#{litterSize},#{matingTimes},
        #{abortionNumber},#{survivalNumber})
    </insert>

    <update id="update" parameterType="ProductionPo">
        UPDATE production SET
        ear_number=#{earNumber},
        age=#{age},
        current_house_number=#{currentHouseNumber},parity=#{parity},
        litter_size=#{litterSize},mating_times=#{matingTimes},
        abortion_number=#{abortionNumber},survival_number=#{survivalNumber}
       WHERE id=#{id}
    </update>

    <select id="selectByPrimaryKey" resultType="ProductionPo" >
        select
        <include refid="Base_Column_List" />
        from production
        where id=#{id}
    </select>
    <select id="selectByEarNum" resultType="ProductionPo" >
        select
        <include refid="Base_Column_List" />
        from production
            where ear_number=#{earNumber}
    </select>
    <delete id="deleteById">
        DELETE FROM production WHERE id=#{id}
    </delete>

    <delete id="deleteByIds">
        DELETE FROM production WHERE id=#{id}
    </delete>

    <select id="selectByExample" resultType="ProductionPo">
        select
        <include refid="Base_Column_List" />
        from production
        <where>
            <if test="earNumber!=null and earNumber!=''">
                and ear_number=#{earNumber}
            </if>
            <if test="age!=null and age!=''">
                and age=#{age}
            </if>
            <if test="currentHouseNumber !=null and currentHouseNumber !=''">
                and current_house_number=#{currentHouseNumber}
            </if>
        </where>
    </select>


</mapper>