<!DOCTYPE html>
<html class="x-admin-sm">
  
  <head>
    <meta charset="UTF-8">
    <title>user</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <script type="text/javascript" src="../js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
    <script type="text/javascript" src="../js/cookie.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="../js/html5.min.js"></script>
    <script src="../js/respond.min.js"></script>
    <![endif]-->


    <script type="text/javascript" src="../js/angularjs/angular.min.js"></script>
    <!--分页组件-->
    <script src="../js/angularjs/pagination.js"></script>
    <link rel="stylesheet" href="../js/angularjs/pagination.css">

    <script type="text/javascript" src="../js/base.js"></script>
    <script type="text/javascript" src="../js/service/userService.js"></script>
    <script type="text/javascript" src="../js/controller/baseController.js"></script>
    <script type="text/javascript" src="../js/controller/userController.js"></script>



  </head>
  
  <body ng-app="zcgj" ng-controller="userController" >
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">用户中心</a>
        <a>
          <cite>个人信息</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <!--<div class="layui-row layui-col-md12 x-so">
          <button class="layui-btn"  lay-submit="" lay-filter="sreach" ng-click="reloadList()" ><i class="layui-icon">&#xe615;</i></button>
      </div>-->
      <xblock>
       <!-- <button class="layui-btn layui-btn-danger" ng-click="dele()"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" ng-click="entity={}" onclick="x_admin_show('添加猪只','./breedingPig_add.html')"><i class="layui-icon"></i>添加</button>
        <span class="x-right" style="line-height:40px"></span>-->
      </xblock>
      <table class="layui-table">
        <thead>
          <tr>
            <th>
              <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>ID</th>
            <th>用户名</th>
            <th>性别</th>
            <th>手机号</th>
            <th>邮箱</th>
            <th>所在地</th>
            <th >编辑个人信息</th>
            </tr>
        </thead>
        <tbody>
          <tr ng-repeat="entity in list">
            <td>
              <input  name="" lay-skin="primary" ng-click="updateSelection($event,entity.id)"></td>
            </td>
            <td>{{entity.earNumber}}</td>
            <td>{{entity.gender}}</td>
            <td>{{entity.isPresent}}</td>
            <td>{{entity.age}}</td>
            <td>{{entity.varieties}}</td>

            <td class="td-manage">
              <a title="完善个人信息"   href="javascript:;" ng-click="jumpById(entity.id)">
                <i class="layui-icon">&#xe63c;</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="page">

      </div>

    </div>

  </body>

</html>